<div class="toplist">
	<h2 class="title"><a href="#"><%= toplist.topic.title %></a></h2>
	<p class="meta">Posted from <a href="#">Someone</a> on <%= toplist.updated_at.to_s(:short) %>
		&nbsp;&bull;&nbsp; <a href="#" class="comments">Users (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Add Your Own</a></p>
	<ol class="items">
    <%= render :partial => toplist.items %>
	</ol>
</div>