<h2 class="title">About Me</h2>

<p><%= link_to 'Oliver Schemmel', 'http://twitter.com/oliver_schemmel', :target => 'blank' %> is a Rails Programmer for <%= link_to 'Katzer + Neumann GmbH', 'http://www.katzer-neumann.de', :target => 'blank' %> .</p>
<p>Inspired by the Book/Movie 'High Fidelity' by Nick Hornby and after thousands of TOP5 - Lists on paper he decided to write a Web-Application in order to organize his various TOP5-Lists.</p>
<p>He looks forward to many fellow users to share thoughts and taste.</p>